.App {
  margin-top: 150px;
  font-family: sans-serif;
}
.timer{
  display: flex;
  justify-content: center;
  text-align: center;
  
  margin-left: 400px;
  margin-right: 400px;
  padding: 30px;
  border-radius: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffe8+0,d6dbbf+100;Wax+3D+%231 */
background: #feffe8; /* Old browsers */
background: -moz-linear-gradient(top, #feffe8 0%, #d6dbbf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #feffe8 0%,#d6dbbf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #feffe8 0%,#d6dbbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */



}
.timer-time{
  font-size: 60px;
}
.timer-time-text{
  font-size: 15px;
  color: gray;
}
